.TFGA {
    top: 0;
    margin-left: 20px;
     font-family: "Tahoma";
}

.remiia img{
    float: left;
    margin: auto;
    size: 50%;
}

div .banner img{
    box-shadow: 0px 10px 20px gray;
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.icon {

    width: auto;
    height: auto;
    object-fit: cover;
    float: left;
    margin-right: 25px;
}

.sideimg img {
    object-fit: scale-down;
    margin-left: 15px;
    width: 50%;
}

.video {
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div .gallery {
  overflow: auto;
  white-space: nowrap;
  background-image: url('data/scene/select/bg.png');
}

div .gallery img {
    height: 150px;
}

div .music {
    color: white;
    background-image: url('data/scene/select/bg.png');
    vertical-align: middle;
    text-align:center;
}

div .music p {
    margin-top: 500px;
}
